html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fc;
}

a.active {
    border-bottom: 1px solid white;
}

table tr {
    font-size: 1.05rem;
}